* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    user-select: none;
    background-color: white;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
    outline: none;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border:none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.app {
    padding-top: 29px;
    padding-left: 48px;
    max-width: 866px;
}

.app__wrapper {
    margin-top: 40px;
    border: 1px solid #707070;
    width: 100%;
    padding: 67px 30px 70px 30px;
}
